@import "~bootstrap/scss/bootstrap";
.note {
  margin: 8px;
  padding: 8px;
  background-color: rgb(255, 233, 111);
  cursor: pointer;
  &:hover {
    background-color: blue;
    color: white;
    font-weight: bold;
  }
}
.sk-center {
  text-align: center;
  button {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.sk-img-container {
  background-image: url("../img/fikri-rasyid-786614-unsplash.jpg");
  background-size: cover;
}
.sk-w100vw {
  width: 100%;
}
.sk-h60vw {
  height: 60vw;
}
.sk-bottom {
  margin-top: 60px;
}
.sk-bottom p {
  color: white;
  margin: 0 auto;
}
.m0auto {
  margin: 0 auto;
}
