/* import external files from node_modules */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
/* styling for note container */
#notes {
  display: flex;
  justify-content: center;
}
/* styling for individual notes */
.note {
  margin: 8px;
  padding: 8px;
  background-color: yellow;
  cursor: url(../img/font-awesome_4-7-0_times_25_0_007dff_none.png), pointer;
  &:hover {
    background-color: blue;
    color: white;
    font-weight: bold;
  }
}
/* Centering classes */
.sk-center {
  text-align: center;
  button {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.m0auto {
  margin: 0 auto;
}
/* Container for title image */
.sk-img-container {
  background-image: url("../img/fikri-rasyid-786614-unsplash.jpg");
  background-size: cover;
}
/* Width and height of title image */
.sk-w100vw {
  width: 100%;
}
.sk-h60vw {
  height: 60vw;
}
/* bottom bar/footer */
.sk-bottom {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.sk-bottom * {
  color: white;
  margin: 0 auto;
}
.sk-bottom span:hover {
  color: yellow;
}
